html {
	font-size: 18px;
	background-color: white;
	font-family: Helvetica;
}

body {
	line-height: 1.4;
}

.main-container {
	width: 100%;
}

.top {
	height: 30rem;
	padding-top: 1rem;
	background-image: url(../images/glasses-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	max-width: 960px;
	margin: auto;	
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: cadetblue;
	color: white;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	margin-left: 2rem;
	margin-right: 1rem;
	height: 1.5rem;
}

.logo span {
	font-size: 1rem;
	padding: 1rem 0;	
}

.mobile-navigation {
	display: none;
}

.navigation ul {
	display: flex;
}

.navigation ul li {
	padding: 1rem 2rem;
}

.headline {
	display: flex;
	justify-content: flex-end;
}

.headline-text {
	background-color: white;
	margin-top: 10rem;
	margin-right: -2rem;
}

.headline-text h1 {
	padding: 1.5rem 5rem;
	color: black;
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}



.competencies {
	display: flex;
	margin: 3rem auto; 
	height: 8rem;
}

.competency {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0 6rem;
	text-align: center;
}

.competency img {
	width: 5rem;
	height: auto;
}
.exams img {
	width: 3.5rem;
	height: auto;
}

.info {
	display: flex;
	justify-content: flex-start;
}

.info .item {
	display: flex;
	flex-direction: column;
	width: 35%;
	padding-right: 5%;
	margin: 0 auto;
}

.info .item .subject {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1rem;
	background-color: cadetblue;
	color: white;
	width: 10rem;
	padding: 0.5rem 0 0.5rem 1.25rem;
}

.info .item .text {
	padding-top: 1rem;
}

.footer {
	background-color: azure;
	margin-top: 5rem;
}

.footer .logo img {
	padding: 4rem 1rem 4rem 4rem;
	height: 1.5rem;
}


@media only screen and (max-width: 1024px) {
	.top {
		height: 22rem;
		padding-top: 0;
	}

	.container {
		width: 100%;
	}

	.headline-text {
		margin-top: 5rem;
		margin-right: 2rem;
	}

	.headline-text h1 {
		padding: 0.75rem 4rem;
		font-size: 1.33rem;
	}

}

@media only screen and (max-width: 470px) {
	.mobile-navigation {
		display: block;
	}

	.navigation {
		display: none;
	}
	.top {
		height: 17rem;
		padding-top: 0;
	}

	.container {
		width: 100%;
	}

	.headline-text {
		margin: 9rem 0 0 0;
		width: 100%;
	}

	.headline-text h1 {
		padding: 1rem auto;
		font-size: 1rem;
		text-align: center;
	}
}